#game-status-text{
    text-align: center;
    padding-top: 50px;
}

#btn-startgame-div{
    text-align: center;
    padding-top: 50px;
}

#btn-startgame{
    visibility: visible;
}

#paper{
    margin-right: 80px;
}

#rock{
    margin-left: 80px;
}

#paper:hover{
    cursor: pointer;
    border: 2px solid rgba(105, 143, 140, 0.438);
}

#rock:hover{
    cursor: pointer;
    border: 2px solid rgba(105, 143, 140, 0.438);
}

#scissors:hover{
    cursor: pointer;
    border: 2px solid rgba(105, 143, 140, 0.438);
}

#rps-icons{
    text-align: center;
}

#game-status-text{
    visibility: hidden;
}